{% load static %}

<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">


  <title>{% block title %}{% endblock %}</title>
  <link rel="shortcut icon" href="{%  static 'dist/img/favicon.png' %}">
  <!-- my css  -->
  <link rel="stylesheet" href="{% static 'dist/css/my-css.css' %}">

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">


{# Include FontAwesome; required for icon display #}
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">

{# Include Bootstrap 4 and jQuery #}
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

{# Django Tempus Dominus assets are included in `{{ form.media }}` #}
{{ form.media }}


</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'dashboard' %}" class="nav-link">Dashboard</a>
      </li>

      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'logout' %}" id="logout-btn" class="nav-link">Se déconnecter</a>
      </li>

    </ul>


  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'production-unit' %}" class="brand-link">
      <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="IoT Management Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Aquaponie V1</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        {% if user.is_authenticated %}
        <div class="image">
          <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="{% url 'myaccount' %}" class="d-block">{{ user.first_name }} {{ user.last_name }}</a>
        </div>
        {% endif %}
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview menu-close">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Unités production
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'creation-production-unit' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Créer une unité</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'production-unit' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Afficher unités</p>
                </a>
              </li>

            </ul>
          </li>
          <li class="nav-item has-treeview menu-close">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Mesures
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'creation-unit-measure' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Créer une unité</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'unit-measure' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Afficher unités</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'creation-limit-measure' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Créer limite</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'limit-measure' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Afficher limite</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'creation-type-measure' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Créer type mesures</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'type-measure' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Afficher types mesures</p>
                </a>
              </li>
            </ul>

          </li>
          <li class="nav-item has-treeview menu-close">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Simulations
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'generate-measure' duration=30 %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Générer mesures 1 mois</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'generate-measure' duration=1 %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Générer mesures 1 jour</p>
                </a>
              </li>

            </ul>

          </li>


        </ul>

      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

    {% block content %}
    {% endblock content %}

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2020-2021 <a href="{% url 'dashboard' %}">Aquaponie V1</a>.</strong> All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
</body>
</html>
