{% extends 'iot_management/layout.html' %}
{% load static %}
{% block title %}Erreur 404{% endblock %}
{% block content %}

<section>

        <div id="container-no-result" class="container ">
            <div class="row ">
                <div class="col-md-12 ">
                    <h4 class="text-center v p-4">Erreur 404</h4>
                    <h6 class="text-center p-4"> Page introuvable </h6>
            </div>
        </div>


</section>

    {% endblock content %}
