{% extends 'iot_management/layout.html' %}
{% load static %}
{% block title %}Mon compte | IoT Management{% endblock %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Mon compte</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'login' %}">Home</a></li>
              <li class="breadcrumb-item active">Mon compte</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                  {% if user.is_authenticated %}
                <h6 class="card-title">
                    Bienvenue {{ user.first_name }} {{ user.last_name }}
                </h6>
                <p class="card-text">Votre email :  {{ user.email }}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                    {% endif %}
              </div>

            </div>


          </div>
          <!-- /.col-md-6 -->

        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->




{% endblock content %}