{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Login</title>

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body>



<section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="form-container">
                    <div class="image-holder"></div>
                    {% csrf_token %}
                    {% for message in messages %}
                        <h4 class="text-danger" id="messages">{{message}}</h4>
                        {% endfor %}
                        <form method="post" action="{% url 'login' %}">
                        {% crispy form %}
                        </form>
                    </div><a class="already" href="{% url 'register' %}">Vous n'avez pas de compte ? Créer un compte.</a>
                    <div>
                </div>
                </div>
            </div>
        </div>
    </section>



<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
</body>
</html>
