{% extends 'iot_management/layout.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">

          {% for pk_production_unit, name_unit_production, pk_subunit, name_subunit, pk_type_measure, type_measure, unit_measure, value, time, limit in measure_list %}
          <div class="col-lg-2">
            <div class="card">
              <div class="card-body text-center">


                <div class="card-text ">
                    <a href="{% url 'production-unit-detail' pk_unit=pk_production_unit %}" class=" p-1">
                    {{name_unit_production}}
                        </a></br>
                    <a href="{% url 'subunit-detail' pk_subunit=pk_subunit %}" class=" mt-2 p-1">
                    {{name_subunit}}
                        </a></br>

                     <a href="{% url 'statistic' pk_subunit=pk_subunit pk_type_measure=pk_type_measure%}" class=" mt-2 p-1">
                    <h5 class="  text-center text-dark ">{{type_measure}}</h5>
                    {% if limit == "good"%}
                        <h4 class=" text-center text-success">{{value}} {{unit_measure}}</h4>
                    {% elif limit == "low"%}
                         <h4 class="text-center text-purple">{{value}} {{unit_measure}}</h4>
                    {% elif limit == "high"%}
                        <h4 class=" text-center text-red">{{value}} {{unit_measure}}</h4>
                    {% else %}
                        <h4 class=" text-center text-black">{{value}} {{unit_measure}}</h4>
                    {% endif %}
                    </a></br>

                  {{time}}</br>
                </div>


              </div>
            </div>


          </div>
          {% endfor %}

          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->



{% endblock content %}

