{% extends 'iot_management/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Création d'une unité de mesure{% endblock %}
{% block content %}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Création d'une unité de mesure</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
              <li class="breadcrumb-item active">Creation d'une unité de mesure</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
          <div class="row">
                <div class="col-lg-6 mx-auto">

                    <div class="form-container">
                <div class="image-holder"></div>
                {% csrf_token %}
                {% for message in messages %}
					<h4 class="text-danger" id="messages">{{message}}</h4>
				    {% endfor %}
                <form method="post" action="{% url 'creation-unit-measure' %}">
                    {% crispy form %}
                </form>

            </div>
                </div>
                </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->



{% endblock content %}