{% extends 'iot_management/layout.html' %}
{% load static %}
{% block title %}Limites{% endblock %}
{% block content %}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Mes limites de mesure</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
              <li class="breadcrumb-item">Mes limites de mesure</li>


            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 p-2">
            <a href="{% url 'creation-limit-measure' %}" class="btn btn-primary">Créer une limite</a>
            </div>

        </div>

        <div class="row">
          {% for pk, limit_low, limit_high in limit_measure %}

          <div class="col-lg-2">
            <div class="card">
<!--              <div class="card-header">-->
<!--                <h5 class="m-0">{{pk}}</h5>-->
<!--              </div>-->
              <div class="card-body">
                  {% if limit_high is None%}
                <h5 class="m-0">{{limit_low}} - No high limit</h5>
                  {% elif limit_low is None%}
                  <h5 class="m-0">No low limit - {{limit_high}}</h5>
                  {% else %}
                  <h5 class="m-0">{{limit_low}} - {{limit_high}}</h5>
                    {% endif %}


              </div>
              <div class="card-footer text-center">
                <a href="{% url 'delete-limit-measure' pk_limit_measure=pk %}" class="btn btn-danger">Suprimer</a>

              </div>



            </div>

          </div>

          <!-- /.col-md-6 -->
            {% endfor %}
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->



{% endblock content %}