{% extends 'iot_management/layout.html' %}
{% load static %}
{% block title %}Mes statistiques{% endblock %}
{% block content %}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Mes statistiques</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
              <li class="breadcrumb-item">Mes statistiques</li>

            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">

        <div class="row">
          <div class="col-lg-12">
            <figure class="highcharts-figure">
              <div id="container" ></div>
              <p class="highcharts-description">

              </p>
            </figure>
          </div>
        </div>

          <!-- /.col-md-6 -->

        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% block javascript %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

  <script>
      _categories = {{categories|safe}};
      _values = {{values|safe}};
      _subunit_name =  {{subunit|safe}};
      _type_measure_name =  {{type_measure|safe}};
      _unit =  {{unit|safe}};

        Highcharts.chart('container', {
      chart: {
        type: 'line'
      },
      title: {
        text: _type_measure_name + " - "+ _subunit_name
      },
      subtitle: {
        text: ''
      },
      xAxis: {
        categories: _categories
      },
      yAxis: {
        title: {
          text: _type_measure_name +" ( "+ _unit + " )"
        }
      },
      plotOptions: {
        line: {
          dataLabels: {
            enabled: true
          },
          enableMouseTracking: false
        }
      },
      series: [{
        name: _type_measure_name + " - "+ _subunit_name,
        data: _values
      }]
    });


    </script>
    {% endblock %}


{% endblock content %}