{% extends 'iot_management/layout.html' %}
{% load static %}
{% block title %}Types de mesures{% endblock %}
{% block content %}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Mes unités de mesure</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>

              <li class="breadcrumb-item">Mes unités de mesure</li>

            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 p-2">

            <a href="{% url 'creation-type-measure' %}" class="btn btn-primary">Créer type de mesure</a>
            </div>

        </div>

        <div class="row">
          {% for pk, type_unit, unit_measure, limit_measure in type_measure %}

          <div class="col-lg-2">
            <div class="card text-center">
              <div class="card-header">
                <h5 class="m-0">{{type_unit}}</h5>
              </div>
              <div class="card-body">
                <h5 class="m-0">{{unit_measure}}</h5>
                {% if limit_measure is None %}
                <h5 class="m-0">No limit</h5>
                {% else %}
                <h5 class="m-0">{{limit_measure}}</h5>
                {% endif %}




              </div>
              <div class="card-footer text-center">
                <a href="{% url 'delete-type-measure' pk_type_measure=pk %}" class="btn btn-danger">Suprimer</a>

              </div>



            </div>

          </div>

          <!-- /.col-md-6 -->
          {% endfor %}
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->



{% endblock content %}