{% extends 'iot_management/layout.html' %}
{% load static %}
{% block title %}Détail unité de production{% endblock %}
{% block content %}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{unit.name}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
              <li class="breadcrumb-item"><a href="{% url 'production-unit' %}">Mes unités de production</a></li>
              <li class="breadcrumb-item">{{unit.name}}</li>

            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">

          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <h5 class="m-0">{{unit.name}}</h5>
              </div>
              <div class="card-body">
                <h5>{{unit.description}}</h5>
                {% if unit.type == "1"%}
                <h6 class="card-title">Type : aquaponie</h6>
                {% elif unit.type == "2"%}
                <h6 class="card-title">Type : autre</h6>
                 {% endif %}

              </div>
              <div class="card-footer">
                <a href="{% url 'subunit' pk_unit=unit.pk%}" class="btn btn-primary">Gérer sous-unités</a>
                <a href="{% url 'delete-production-unit' pk_unit=unit.pk%}" class="btn btn-danger">Suprimer</a>
              </div>



            </div>

          </div>

          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->



{% endblock content %}