{% extends 'iot_management/layout.html' %}
{% load static %}
{% block title %}Unité de production{% endblock %}
{% block content %}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Mes unités de production</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
              <li class="breadcrumb-item active">Mes unités de production</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          {% for pk, name, type, description in production_unit %}
          <div class="col-lg-3">
            <div class="card">
              <div class="card-header">
                <h5 class="m-0">{{name}}</h5>
              </div>
              <div class="card-body">
                {% if type == "1"%}
                <h6 class="card-title">Type : aquaponie</h6>
                {% elif type == "2"%}
                <h6 class="card-title">Type : autre</h6>
                 {% endif %}
              </div>
              <div class="card-footer">
                <a href="{% url 'production-unit-detail' pk_unit=pk%}" class="btn btn-secondary">Détail</a>
                <a href="{% url 'delete-production-unit' pk_unit=pk%}" class="btn btn-danger">Suprimer</a>
              </div>



            </div>

          </div>

          <!-- /.col-md-6 -->
          {% endfor %}
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->



{% endblock content %}