{% extends 'iot_management/layout.html' %}
{% load static %}
{% block title %}Production Unit{% endblock %}
{% block content %}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Mes unités de production</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
              <li class="breadcrumb-item"><a href="{% url 'production-unit'%}">Mes unités</a></li>
              <li class="breadcrumb-item"><a href="{% url 'production-unit-detail' pk_unit=production_unit%}">Mon unité</a></li>

            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 p-2">
            <a href="{% url 'creation-subunit' pk_unit=production_unit%}" class="btn btn-primary">Créer une sous unité</a>
            </div>

        </div>

        <div class="row">
          {% for pk, name, description in subunit %}

          <div class="col-lg-2">
            <div class="card">
              <div class="card-header">
                <h5 class="m-0">{{name}}</h5>
              </div>
              <div class="card-body">

                <h6 class="card-title">{{description}}</h6>


              </div>
              <div class="card-footer text-center">

                <a href="{% url 'subunit-detail' pk_subunit=pk%}" class="btn btn-default">Détail</a>
                <a href="{% url 'creation-measure' pk_subunit=pk %}" class="btn btn-secondary m-1">Ajouter mesure</a>
                <a href="{% url 'delete-subunit' pk_subunit=pk %}" class="btn btn-danger">Suprimer</a>
              </div>



            </div>

          </div>

          <!-- /.col-md-6 -->
          {% endfor %}
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->



{% endblock content %}