{% extends 'iot_management/layout.html' %}
{% load static %}
{% block title %}Production Unit{% endblock %}
{% block content %}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{subunit.name}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>

              <li class="breadcrumb-item active">Détail sous-unité {{subunit.name}}</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">

          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <h5 class="m-0">{{subunit.name}}</h5>
              </div>
              <div class="card-body">

                <p>{{subunit.description}}</p>
              </div>
              <div class="card-footer">
                <a href="{% url 'creation-measure' pk_subunit=subunit.pk %}" class="btn btn-secondary">Ajouter mesure</a>
                <a href="{% url 'delete-subunit' pk_subunit=subunit.pk%}" class="btn btn-danger">Suprimer</a>
              </div>



            </div>

          </div>

          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->



{% endblock content %}